body {

    color: #f7f7f7;
  }
  .jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  #filter-btn {
    margin: 0;
    top: 50%;
    left: 50%;
    position:relative
  }